.cart-container {
  background-color: #fff;
  max-height: fit-content;
  width: 285px;
  border-radius: 10px;
  padding: 1rem 1.5rem 2.5rem;
  margin-top: 2rem;
  h2 {
    color: $red;
    font-size: 1.8rem;
  }
  .empty-cart {
    margin: 1rem 5rem 2.5rem;
    img {
      width: 100px;
      margin: 20px auto 10px;
    }
    p {
      font-size: 1rem;
      text-align: center;
      font-weight: $ff-n;
      color: $rose-400;
    }
  }
  .cartedItems {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
    p {
      color: $rose-900;
      font-weight: $ff-n;
      font-size: 1.4rem;
    }
    .item-details {
      margin-top: 0.4rem;
      display: flex;
      gap: 1em;
      font-size: 1.2rem;
      span:nth-child(1) {
        color: $red;
        font-weight: $ff-n;
      }
      span:nth-child(2) {
        color: $rose-400;
      }
      span:nth-child(3) {
        color: $rose-500;
        font-weight: $ff-n;
      }
    }
    .btn-delete {
      background-color: transparent;
      border: 1px solid $rose-500;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      &:is(:active, :hover) {
        border: 1.5px solid $rose-900;
        svg path {
          fill: $rose-900;
        }
      }
    }
  }
  hr {
    border: 1px solid $rose-100;
  }
}
