body {
  font-family: $ff;
  place-content: center;
  background-color: $rose-50;
  font-size: 1.6rem;
}

main {
  //   background-color: $rose-900;
  max-height: 100vh;
  display: flex;
  place-content: center;
  gap: 2rem;
  margin: 7rem 0 0 -40px;
}
