body {
  font-family: $ff;
  place-content: center;
  background-color: $rose-50;
  font-size: 1.6rem;
}

main {
  max-height: 100vh;
  display: flex;
  place-content: center;
  gap: 2rem;
  margin-top: 7rem;

  @media (max-width: "450px") {
    flex-direction: column;
    align-items: center;
    max-height: unset;
  }
  .confirm-order {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .total {
      display: flex;
      justify-content: space-between;
      .total-price {
        color: $rose-900;
        font-weight: $ff-b;
        font-size: 2rem;
      }
    }
    .type-of-delivery {
      font-size: 1.2rem;
      padding: 0.8rem 1.2rem;
      background-color: $rose-100;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.2rem;
      img {
        margin-right: 0.8rem;
      }
      span {
        color: $rose-900;
        font-weight: $ff-n;
      }
      &.hidden {
        display: none;
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 1.4rem;
    }
    .total-price {
      color: $rose-900;
      font-weight: $ff-b;
      font-size: 2rem;
    }
  }

  button.action-btn {
    width: 100%;
    padding: 1.2rem 1.2rem;
    text-align: center;
    border: none;
    border-radius: 2.4rem;
    background-color: $red;
    color: $rose-50;
    font-weight: $ff-n;

    &:hover {
      background-color: hsl(14, 86%, 30%);
    }
  }
}
