.confirmed-container {
  position: fixed;
  bottom: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  display: grid;
  place-content: center;
  transition: all 0.5s;
  .confirmed-details {
    background-color: #fff;
    padding: 2.4rem;
    width: 44rem;
    border-radius: 1.2rem;
    @media (max-width: "450px") {
      max-width: 80%;
      margin: auto;
    }

    img[alt="order-confirmed"] {
      margin-bottom: 2rem;
      aspect-ratio: 3/4;
    }

    & > p {
      font-size: 1.2rem;
      color: $rose-300;
    }
  }

  .orders {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.6rem;
    background-color: $rose-50;
    margin: 2rem 0;

    .order {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      border-bottom: 1px solid $rose-100;
      padding-bottom: 0.8rem;
      margin-bottom: 0.8rem;
      @media (max-width: "450px") {
        font-size: 1rem;
      }
      .order-details {
        display: flex;
        gap: 1rem;
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 2px;
        }
        .item-name {
          color: $rose-900;
          margin-bottom: 0.8rem;
          font-weight: $ff-n;
        }
      }

      .item-price-details {
        display: flex;
        gap: 1rem;
        .item-quantity {
          color: $red;
        }
        .item-price {
          color: $rose-300;
          span {
            font-size: 1rem;
          }
        }
      }

      .item-totalprice {
        font-weight: $ff-b;
      }
    }
  }
}
