/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}
